
@import './mixins';
@import './colors';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@include light-theme() {
  a {
    color: $LIGHT_THEME_LINK;

    @include hover() {
      color: darken($LIGHT_THEME_LINK, 10%);
    }
  }
}

@include dark-theme() {
  a {
    color: $DARK_THEME_LINK;

    @include hover() {
      color: darken($DARK_THEME_LINK, 10%);
    }
  }
}
